<h1><%= title %></h1>
<h2>Are you sure you want to delete this dweet ?</h2>
<p style="color: green; font-size: 1.15rem ">
    dweet by <b> <%= data["test"] %></b>, created on <%= data["formatted_date"] %>
</p> 
<p style="color: red; font-size: 1.15rem "><%= data["dweet"] %></p>
<form action="" method="POST">
    <input type="hidden"  id="dweetid" name="dweetid" required="true" value="<%= data["_id"] %>" >
    <button type="submit">Delete</button>
</form>